*.o
._*
*~
Data/*
       latex/*
       html/*
       html/
       latex/
    *.bin
    *.raw
    Results/*
    Results/
    settings/connections_slc6.xml
# just for G. Auzingers sanity
Calibrations
.run_number.txt
settings/connections_186.xml
Antenna/
CalibrationResuls
Results
