# This is a Dev version of a YAML script for CI of Ph2_ACF Middleware
# Author: Nikkie Deelen (CERN/KIT)

# A build is automatically triggered when a push is made to the remote repository
# CERN's shared runner is used which is configured for Docker with SL6
# sudo is not necessary in docker, every application used needs to be installed first

before_script:
 - yum -y -q install wget
 - wget -O /etc/yum.repos.d/slc6-devtoolset.repo http://linuxsoft.cern.ch/cern/devtoolset/slc6-devtoolset.repo
 - yum -y -q install devtoolset-2
 - ln -s /opt/rh/devtoolset-2/root/usr/bin/* /usr/local/bin/
 - hash -r
 - wget http://svnweb.cern.ch/trac/cactus/export/28265/tags/ipbus_sw/uhal_2_3_0/scripts/release/cactus.slc6.x86_64.repo
 - cp cactus.slc6.x86_64.repo /etc/yum.repos.d/cactus.repo
 - yum -y -q clean all
 - yum -y -q groupinstall uhal
 - yum -y -q install root
 - yum -y -q install root-net-http root-montecarlo-eg root-graf3d-eve root-geom root-physics root-graf3d-gl
 - source setup.sh
 - make

test_Ph2_ACF:
 script:
  - calibrate --help
  - cmtst --help
  - commission --help
  - config --help
  - datatest --help
  - fpgaconfig --help
  - hybridtest --help
  - miniDAQ --help
  - miniDQM --help
  - pulseshape --help
  - systemtest --help
