@charset "utf-8";

html, body {
    font-size: 10pt;
    margin: 20px;
    padding: 0px;
    border: 0px;
    color: #000;
    background: #f1f1f1
    /*background-color: #424242*/
}

html, body, p, th, td, dd, dt {
    font-family: Lato,
    sans-serif;
    background-color: inherit;
    margin-top: 1px;
    margin-bottom: 1px;
 }
 h1, h2, h3, h4, h4, h6 {
     margin: 5px
 }
 li, ul {
     margin: 1px
 }

input, select, textarea{
    color: #000;
}

textarea:hover, input:hover {
    color: #000;
}

 div.BeBoard {
     margin-top: 5px;
     margin-bottom: 5px;
     margin-left: 0px;
     margin-right: 50px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;

     overflow: hidden;
     border: none
     solid: #ccc;
     /*background-color: #424242;*/
     background-color: inherit;
     color: #34495e
 }

 div.General {
     margin-top: 5px;
     margin-bottom: 5px;
     margin-left: 5px;
     margin-right: 300px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 15px;
     padding-right: 15px;
     overflow: hidden;
     border: none
     solid: #ddd;
     background-color: #ebedef
 }

 div.Module {
     margin-top: 5px;
     margin-bottom: 5px;
     margin-left: 5px;
     margin-right: 300px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 15px;
     padding-right: 15px;
     overflow: hidden;
     border: none
     solid: #ddd;
     background-color: #d5d8dc;
 }
 
 div.CBC {
     margin-top: 5px;
     margin-bottom: 5px;
     margin-left: 5px;
     margin-right: 5px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 20px;
     padding-right: 20px;
     overflow: hidden;
     border: none
     solid: #ddd;
     background-color: #ebedef;
     color: #616161
 }

 div.SLink {
     margin-top: 5px;
     margin-bottom: 5px;
     margin-left: 5px;
     margin-right: 300px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
     overflow: hidden;
     border: 1px
     solid: #ddd;
     background-color: #ebedef
 }

 div.BeBoardRegisters {
     margin-top: 5px;
     margin-bottom: 5px;
     margin-left: 5px;
     margin-right: 300px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
     overflow: hidden;
     border: 1px
     solid: #ddd;
     background-color: #d5d8dc
 }

